body {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
    /* url(https://i.pinimg.com/originals/8f/14/57/8f14578ef69a4c53352955d1e072eda6.png); */
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxKi7m22kS2F2VEIrHg2avYJ3PyVY-a5VxaA&usqp=CAU);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
} 


/* * {
  margin:0;
  padding:0;
  box-sizing: border-box;
} */
/* body {
  font-family: 'Source Sans Pro', sans-serif;
  background: white;
  padding:1rem
} */
button {
  border:0.5px solid gray;
  background: rgb(97, 199, 97);
  color:white;
  font-size: 1.5rem;
  padding:0.5rem;
  border-radius: 5px;
  cursor: pointer;
}
#class-b {
  background: rgb(189, 91, 91);
}
.fa {
  padding-right: 0.2rem;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.messages {
  background: white;
  border:1px solid gray;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.74);
  border-radius: 10px;
  padding:0.5rem;
}
h2 {
  text-align: center;
  font-size: 2rem;
}
h3 {
  font-size: 20px;
}
ul {
  list-style: none;
  margin-top: 5px;
}
li {
  margin-bottom: 4px;
  font-size: 17px;
}
p {
  text-align: center;
  color:rgb(80, 168, 80);
}
video {
  /* margin:rem 0rem; */
  width:400px;
  height:auto;
}

/* .stop-watch{
  height: 85vh;
  width: 23vw;
  background-color: #0d0c1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
} */


.timer{
	margin : 0rem 0;
	width: 100%;
	display: flex;
	height: 12%;
	justify-content: center;
	align-items: center;
}

.digits{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 2rem;
	color: #e42a2a;
}

.mili-sec{
	color: #e42a2a;
}

.karan{
  display: flex;
	justify-content: center;
	align-items: center;
}

.col-md-4{
  background-color:#B6C2D9;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.74);
  border-radius: 10px;
}

.col-md-6{
  background-color: #B6C2D9;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.74);
  border-radius: 10px;
}

.suraj{
  background-color: #B6C2D9;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.74);
  border-radius: 10px;
  padding: 8px 8px;
}

.boom{
  background-color: red;
}